@layer theme, base, antd, components, utilities;

@import 'tailwindcss';

@plugin '../../../src/renderer/HeroUiConfig.ts';

/* Include source files for TailwindCSS to scan for class names */
@source './**/*.{js,ts,jsx,tsx}';
@source '../../../src/renderer/src/App/Components/Reusable/SpotlightCard.tsx'
@source '../../../src/renderer/src/App/Components/Reusable/ToolsCard.tsx'
@source '../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-JetBrainsMono: JetBrainsMono, sans-serif;
  --font-Nunito: Nunito, sans-serif;

  --color-LynxOrange: #ff5f00;
  --color-LynxRaisinBlack: #212121;
}
